@import './colors';

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100svh;

  * {
    border-radius: 5px;
  }

  input {
    font-size: 1.2rem;
  }

  textarea {
    font-size: 1.1rem;
    text-align: left !important;
    resize: none;
  }

  input,
  textarea {
    border: solid rgba(0, 0, 0, 0.3) 1px;
  }

  input[type='submit'],
  button {
    transition: all 300ms ease-in-out;
    height: 3em;
    background-color: $secondary;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
  }
  input[type='submit']:hover {
    filter: brightness(0.9);
  }
}
