@import './colors';
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    text-align: center;
  }

  h1 {
    font-size: 2.5em;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30em;
    min-width: fit-content;
    margin: 2em auto;

    input {
      height: 2.5em;
      width: 100%;
      max-width: 20em;
    }

    textarea {
      height: 15em;
      width: 80%;
      resize: vertical;
    }

    textarea::placeholder {
      text-align: center;
    }

    input,
    textarea {
      margin: 0.3em auto;
    }

    input:last-child {
      width: 6em;
    }
  }

  :nth-child(-n + 4):valid {
    border-color: green;
  }

  @media screen and (max-width: 600px) {
    h1 {
      width: 5em;
      align-self: center;
    }

    form {
      width: 20em;
      height: 90%;

      // All except for the last one.
      input:nth-child(-n + 3) {
        width: 90%;
      }

      textarea {
        height: 10em;
        width: 90%;
        resize: none;
      }
    }
  }

  @media screen and (max-height: 600px) and (orientation: landscape) {
    justify-content: start;

    h1 {
      margin: 0px auto;
      padding: 0px auto;
    }

    form {
      margin-top: 0px;
      height: 10em;

      textarea {
        min-height: 5em;
      }
    }
  }
}
